# Discord Bot Token
# Get it from https://discord.com/developers/applications
DISCORD_TOKEN=your_discord_bot_token_here

# Discord Application ID
# Get it from https://discord.com/developers/applications
APPLICATION_ID=your_application_id_here
